.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7px;
    margin-left: 25px;
    /* margin-right: -15px; */
}

/* css responsive */

@media screen and (max-width : 688px){
    .services{
        grid-template-columns: repeat(1, 1fr);
    }
    
}